body{
    box-sizing: border-box;
    background-color: rgb(248, 243, 241);
}

@media (max-width:400px) {
    html{
        padding: 0;
        margin: 0;
    }

    body{
        padding-left: 5%;
        padding-right: 5%;
    }
}

.overlay{
    padding: 4rem 2rem;
    display: flex;
    gap: 10px;
    justify-content:center;
    align-items: flex-start;
}

@media (max-width: 400px) {
    .overlay{
        flex-direction: column;
        width: 100%;
        padding: 0;
        gap:35px
    }
    
}

.desert-list{
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width:400px) {
    .desert-list{
        width: 100%;
        padding: 0;
    }
}

.cart{

    width: 30%;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

@media (max-width: 400px) {
    .cart{
        width: 100%;
        padding:0 0 30px 0;
        margin: 0;

    }
}

.inside-cart{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

@media (max-width:400) {
    .inside-cart{
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

#cart-title{
    display: flex;
    gap: 5px;
    flex: 1;
}

@media (max-width:400px) {
    #cart-title{
        padding-left: 10px;
    }
    .empty-cart{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 30px;
    }
}

.cart h3{
    color: maroon;
    width: fit-content;
}

.desert-list h1{
    color:rgb(44, 35, 35);
    margin-top: 5px;
}

.empty-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: maroon;
}

.not-empty-cart{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: left;
}

.cart-entry{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.cart-entry p{
    flex: 1;

}

.cart-entry #cTitle{
    font-weight: bold;
}

.list-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    padding: 10px 10px 10px 0
}

@media (max-width:400px) {
    .list-items{
        grid-template-columns: 1fr;
        width: 100%;
        padding: 0;
        grid-gap: 30px;
    }
}

.item{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 2px;
}

p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color:rgb(44, 35, 35)
}

#category{
    opacity: 0.3;
    font-weight: bold;
}

#name{
    font-weight: 700;
}

#image{
    display: block;
    border-radius: 10px;
    border: 3px solid transparent;
    align-self:center;
    width: 100%;
    min-width: 20%;
    min-height: 20%;
    /*margin-bottom: 50px;*/
    height: auto;
    transition: border 0.1s ease-out;
    
}

@media (max-width:400px) {
    #category{
        margin-top: -25px;
    }
}

#button{
    border-radius: 120px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: fit-content;
    height: 45px;
    white-space: normal;
    /* position: absolute;
    left: 20%;
    bottom: 5%; */
    /* transform: translate(25%,-55%); */
    align-self: center;
    transform: translateY(-65%);
    background-color: #ffffff;
    border: 1px solid rgb(44, 35, 35);
    color: black;
    font-size: 16px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    z-index: 1;
    transition: background-color 0.3s ease-in, color 0.3s ease-in, border 0.3s ease-in, width 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)

    
}

#button:hover{
    cursor: pointer;
    color: brown;
    border: 1px solid brown
}

.button-hover{
    cursor: pointer;
    background-color: brown !important;
    color: #ffffff !important;
    border: 1px solid brown !important;
    width: 70% !important;
    justify-content: space-between !important;
    transition: background-color 0.3s ease-out, color 0.3s ease-out, border 0.3s ease-out, width 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)
}

.on-selected-or-hover{
    border: 3px solid brown !important;
    transition: border 0.1s ease-in;
}

@media (max-width:400px) {
    .item{
        position: relative;
    }
    .attribution{
        padding-top: 30px;
        padding-bottom: 10px;
    }
    #button{
        /* position: absolute;
        top: 60%;
        left: 30%; */
        transform: translateY(-65%)
    }
}

.rounded{
    border-radius: 50% 50%;
    border: 1px solid #ffffff;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*transition: border 0.3s ease*/;
}

.rounded:hover{
    border: 1px solid brown;
    background-color: #ffffff;
    /*transition: border 0.3s ease*/;
}

.rounded:hover .minus-svg{
    filter: invert(25%) sepia(29%) saturate(4097%) hue-rotate(336deg) brightness(86%) contrast(95%);
    
}

.rounded:hover .plus-svg{
    filter: invert(25%) sepia(29%) saturate(4097%) hue-rotate(336deg) brightness(86%) contrast(95%);
    
}

.cart-outer-div{
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid rgb(184, 174, 174);
}

@media (max-width:400px) {
    .cart-outer-div{
        margin-left: 10px;
        margin-right: 10px;
    }
}